@charset "UTF-8";
*{
    margin: 0;
    text-align: center;
}
.navbarBox{
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-bottom: solid #e35100 5px;
}
.navbarBox img{
    width: 200px;
}